
body {
    width: 560px;
    margin: 0px auto;
    Font-family: 'Roboto Slab';
}
.content{
    font-style: italic;
    color: black;
    
}
h1{
    color:rgb(19, 151, 151) ; 
}

h2{
    background-color: rgb(66, 189, 189);
    color: white;
}
.link :hover{
     color: rgb(228, 228, 19);
    
}
a{
    color: gray;
}
.picture1{
    background: lightgray;
    text-align: center;
    font-style: italic;
    color: rgb(35, 177, 224);
}
.name{
    text-align: right;
}